# Copyright (c) 2026 Codium Electronique
# SPDX-License-Identifier: Apache-2.0

config DECTNRP_DRIVER_NRF91
    bool "DECT NR+ nRF91 driver"
    default y
    depends on SOC_SERIES_NRF91
    depends on NRF_MODEM_LIB
    depends on !MODEM_ANTENNA
    depends on NRF_MODEM_LINK_BINARY_DECT_PHY

if DECTNRP_DRIVER_NRF91

module = DECTNRP_DRIVER_NRF91
module-str = DECT NR+ NRF91 driver
source "$(ZEPHYR_BASE)/subsys/logging/Kconfig.template.log_config"

endif
